@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #3DF233, #85FC35);
}

main{
    background-color: white; /*fundo*/
    border-radius: 10px; /*borda*/
    box-shadow: 5px 5px 5px #21801c85; /*sombreamento*/
    width: 600px; /*largura da área do conteúdo*/
    padding: 10px; /*distância entro o conteúdo e suas bordas*/
    margin: auto; /*margem*/
}

h1{ 
    color: #dbd404;
    text-align: center; /*define a localização do conteúdo na página*/
    text-shadow: 1px 1px 2px #c0ba03a4;

}

h2{
    color: #F2D933;
}

p{
    text-align: justify;
    
}